.navigation{
     height: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-left: 189px;
     padding-right: 162.5px;

}

.account{
     width: 200px;
     display: flex;
     align-items: center;
     gap: 15px;
     text-align: end;
}
.account img{
     width: 70px;
     height: 70px;
     object-fit: cover;
}
.account .details{
     color: #828282;
     font-style: italic;
     font-size: 13px;
}
.account .account-name{
     margin: 0;
}


/*resposive*/
@media screen and (max-width: 768px){
     .navigation{
          padding-left: 100px;
     padding-right: 89.5px;
     }
}
@media screen and (max-width: 430px){
     .navigation{
          padding: 0;
     }
     .navigation .logo img{
          width: 80%;
          height: 80%;
          object-fit: cover;
     }
     .account{
          width: 150px;
          display: flex;
          align-items: center;
          gap: 5px;
          text-align: end;
     }
     .account img{
          width: 35%;
          height: 35%;
          object-fit:contain;
     }
     .account .details{
          color: #828282;
          font-style: italic;
          font-size: 9px;
     }
     .account .account-name{
          font-size: 13px;
     }
}